API_ID=21641022 # get this value from my.telegram.org
API_HASH=f8a3655673ae180acb1a5915e13414ac # get this value from my.telegram.org
BOT_TOKEN=6090786263:AAEOCDtLT-9PHaTH9Oj0XA0B-crfYMGNvsI # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://vugar:vugar@cluster0.0k4kt6h.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001960328950 # get this value from in your log group 
MUSIC_BOT_NAME=azgoldmusic_bot # your music bot name 
STRING_SESSION=AgA0b9VSKsTN9J8dNIUnmI2a1PN57tI9eXSBmJaJjXAKqh_pW5X3-HaH6IZhEjl3_9fnUiKREwliMnMSPOSocnFUX3Xi4Vi7wi_fIWMMIMtsaxeiH0cOAUsP-dht1KvPVY7QeH6m35CQiPk3bixqLhY6SmRcJutEvSO7yBgSxpQI_dfuaQx4YX2DRqTnMhFNIl8_VR-SQ-QXDFSWHly6Jj9vA3VqWo6c6EnMmscIw-t93qKtcCGwZeiygGCLNKdVMhop-AhTFj-IXsaqj_rSGDjB94G4guWWrD_Yr303hnj6pV0Q26zdGxUySPzT-AAI-7ohJgWyKLrTe4UvgHCOJpUlAAAAAWfL048A # get this value from @yukkistringbot
OWNER_ID=1854142942 #
